.header {
    padding: 31px 0;
    border-bottom: 3px solid #CDCDCD;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__auth {
            display: flex;
            gap: 20px;
        }
    }
}