.header {
    padding: 31px 64px;
    border-bottom: 3px solid #CDCDCD;

    @media (max-width:$tablet) {
        padding: 25px 40px;
    }

    @media (max-width:$mobile) {
        padding: 20px 40px;
    }

    @media (max-width:$mobileSmall) {
        padding: 15px 20px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$mobileSmall) {
            gap: 20px;
        }

        &__auth {
            display: flex;
            gap: 20px;
            align-items: center;

            @media (max-width:$mobileSmall) {
                flex-direction: column;
            }
        }
    }
}